.button{
   margin: 2%;
}
#btn{
    margin-left: 1%;
}
.form{
    width: 60%;  
    border: 1px solid lightblue;
   

   
    
}
ul li{
    list-style-type: none;   
}
.col .display{
    width: 70%;

}
.header h2{
   font-weight: bolder;
}
