<!-- <div class="form">
    <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
</div> -->


<ul *ngFor="let quote of quotes; let i=index">
    <li appHighlight>{{quote.quote}}</li>
    <div *ngIf="quote.showDescription">
        <app-quote-detail [quote]="quote"></app-quote-detail>
        
    </div>

    <div >
       

        <button (click)='toggleDetails(i)' class="btn btn-info">Toggle Details</button>
    </div>
    <div class="button">
        <p>{{ quote.votes}}</p>
        <button (click)="quote.upvote()" type="button" class="btn btn-outline-info">Upvote</button>
        <button (click)="quote.downvote()" id="btn" type="button" class="btn btn-outline-warning">Downvote</button>
    </div>
    
</ul>
<div class="form">
    <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
</div>






