<ul *ngFor="let quote of quotes; let i=index">
    <li>{{quote.quote}}</li>
    <div *ngIf="quote.showDescription">
        <app-quote-detail [quote]="quote"></app-quote-detail>
        
    </div>

    <div >

        <button (click)='toggleDetails(i)' class="btn btn-info">Toggle Details</button>
    </div>
    <div class="button">
        <button type="button" class="btn btn-outline-info">Upvote</button>
        <button id="btn" type="button" class="btn btn-outline-warning">Downvote</button>
    </div>
</ul>






