<div class="header">
    <h2>My Quotes</h2>
</div>

<div class="container row" >
    <div class=" col display">
        <div  *ngFor="let quote of quotes; let i=index">
            <ul>
                <li>
                <p appHighlight>{{quote.quote}}</p>
                <div>
    
    
                    <button (click)='toggleDetails(i)' class="mt-2 btn btn-outline-info">Show more</button>
                </div>
                <div class="button">
                    <p>{{ quote.votes}}</p>
                    <button (click)="quote.upvote()" type="button" class="btn btn-outline-info">Upvote</button>
                    <button (click)="quote.downvote()" id="btn" type="button"
                        class="btn btn-outline-danger">Downvote</button>
                </div>
    
    
                <div *ngIf="quote.showDescription">
                    <app-quote-detail [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-quote-detail>
    
                </div>
                </li>
    
    
            </ul>
            
           
        
    

        </div>
        <div class="col">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        
    </div>
   

</div>
