.button{
   margin: 2%;
}
#btn{
    margin-left: 1%;
}
.form{
    width: 100%;  
    border: 1px solid lightblue;
    margin-left: 110%;
    margin-top: -195%;
    position: relative;
    
}
.card{
    display: flex;
    
}